$main-bg: #0D192C;
$card-bg: #15263F;

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: $main-bg;
}

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: $card-bg;
  border-radius: 15px;
  box-shadow: 0px 25px 50px rgba(0,0,0,0.95);
}

header {
  margin: 0;

  img {
    width: 300px;
    height: 300px;
  }
}


main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35rem;

  h1 {
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
  }

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
  }

  .price-and-time-left {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

}

